<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sleep Stage Detection</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
   

   <div class="left-col">
       <nav>
          <img src="https://i.postimg.cc/JzKwwG16/arrow.png" class="back-btn">

           <ul>
            <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
            <li><a href="{{ url_for('upload') }}">Check Now</a></li>
            <li><a href="{{ url_for('learnmore') }}">Learn More</a></li>
               <li><a href="{{ url_for('suggestions') }}">Suggestions</a></li>
               
           </ul>
       </nav>
   </div>
   <section>
        <div class="cv">
           <div class="content">
               <h1>Heartfelt Sleep</h1>
               <p style="width: 100%;">Analyzing Heart Rate for Better Rest</p>
               <a href="{{ url_for('upload') }}" class="cta">Click to upload file</a>

           </div>
       </div>
   </section>

</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>